// Variables for Chromium

// Font Family
$ff-sans: 'Poppins', sans-serif;
$ff-mono: 'Roboto Mono', monospace;

// Font size
$fs-sm: 0.5em;
$fs-lg: 2.5em;

// Font weights
$fw-light: 100;
$fw-bold: 600;

// Colors
$clr-dark: #000;
$clr-light: #fff;
$clr-accent: #4C8BF5;

